.worning
  %p.worning-sentence チャットグループを作成しました。

.left
  .left__userinfo
    %span.left__userinfo-name sample
    .left__userinfo-icons
      = link_to '/messages' do
        = fa_icon "edit"
      =link_to 'messages' do
        = fa_icon "cog"
  .left__groups
    .left__groups__list
      %p.left__groups__list-name sampleグループ
      %p.left__groups__list-message メッセージはありません。
    .left__groups__list
      %p.left__groups__list-name 繰り返しグループ
      %p.left__groups__list-message 繰り返しメッセージ


.right
  .right__up
    %span.right__up-groupname  サンプルグループ
    %a.right__up__edit
      %p.right__up__edit-btn Edit
    %li.right__up-member Member: ABCDE
  .right__mid
    .right__mid__messagelist
      %span.right__mid__messagelist-name ABCDE
      %span.right__mid__messagelist-time 2018/07/31 15:02
      %p.right__mid__messagelist-message サンプルサンプルサンプルサンプルサンプル
    .right__mid__messagelist
      %span.right__mid__messagelist-name 繰り返しABCDE
      %span.right__mid__messagelist-time 2018/07/31 15:02
      %p.right__mid__messagelist-message 繰り返し繰り返し繰り返し繰り返し
    .right__mid__messagelist
      %span.right__mid__messagelist-name 繰り返しABCDE
      %span.right__mid__messagelist-time 2018/07/31 15:02
      %p.right__mid__messagelist-message 繰り返し繰り返し繰り返し繰り返し
    .right__mid__messagelist
      %span.right__mid__messagelist-name 繰り返しABCDE
      %span.right__mid__messagelist-time 2018/07/31 15:02
      %p.right__mid__messagelist-message 繰り返し繰り返し繰り返し繰り返し
    .right__mid__messagelist
      %span.right__mid__messagelist-name 繰り返しABCDE
      %span.right__mid__messagelist-time 2018/07/31 15:02
      %p.right__mid__messagelist-message 繰り返し繰り返し繰り返し繰り返し
    .right__mid__messagelist
      %span.right__mid__messagelist-name 繰り返しABCDE
      %span.right__mid__messagelist-time 2018/07/31 15:02
      %p.right__mid__messagelist-message 繰り返し繰り返し繰り返し繰り返し
  .right__bot
    %form.right__bot__input
      %textarea{ class: "right__bot__input-message"}
      %a.right__bot__input-picture
        %i.fa.fa-image
      %input.right__bot__input-submit{:name => "submit", :type => "submit", :value => "Send"}
