.notification {
  .notice {
    background-color: $thirdcolor;
    color: $basecolor;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $basecolor;
    text-align: center;
  }
}
